div li{
    list-style: none;
    text-align: left;
    padding: 10px;
}
div li:hover{
    text-decoration: underline;
    color: rgb(55, 158, 161);
}
.icon{
    padding-top: 70px;
}
.icon i{
    padding: 20px;
    font-size: 30px;
    color: rgb(248, 245, 245);
}
.icon i:hover{
    color: rgb(202, 190, 177);
}