div li{
    list-style: none;
    text-align: left;
    padding: 10px;
}
div li:hover{
    text-decoration: underline;
    color: rgb(23, 106, 109);
}
.icon{
    padding-top: 70px;
}
.icon i{
    padding: 20px;
    font-size: 30px;
    color: rgb(119, 110, 110);
}
.icon i:hover{
    color: rgb(20, 117, 121);
}